@media screen and (max-width:850px) {
    .header-logo-txt, .order-icon-txt, .price-icon-txt, .contacts-icon-txt, .tracking-icon-txt {
        display: none;
    }
	.conteiner-row, #sidebar, .buttons, .fa{
		display:none;
	}
	.col-row{
		min-width: 95%;
		background-image:url(../img/westcoast1.jpg);
	}
	.col-row1, .conteiner-mobile{
		min-width: 100%;
		
	}
	.ticket-row{
		float:left;
	}
	#sidebar-momile{
		width:100%;
		height:110px;
	}
}
@media screen and (min-width:850px) {
	.conteiner-mobile, #sidebar-momile{
		display:none;
	}
	nav{
		margin-left:360px;
	}
	.col-row1, .col-row2, .col-row3{
		margin-right:5px;
		margin-left:5px;
	}
}
A 	{ text-decoration: none; } 
    a:link {color: #212121; padding: 3px; }
	A:visited { color: #212121; } 
	A:active { text-decoration: none; color: gray;  }
	A:hover { color: #607D8B; font-family: -apple-system  }
html{
	 text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	text-align: center;
    font: normal  Tahoma, Geneva, sans-serif, San Francisco, Roboto, Segoe UI;
}
body{
	font-size: 1.5em;
	margin: 0px auto;
}
.order-background, .contacts-background {
	display:inline;
}
.contacts-background{
	margin-right: 5%;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #18FFFF;
    width:100%;
    height:100px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.1);
    top:0;
    position: fixed;
	z-index: 1000;
}
.about{
	margin-right: 2%;
    font: normal 14px Arial, Helvetica, sans-serif;
    color: #424242;
}
form {
  position: relative;
  width: 25%;
}
input, button {
  border: none;
  outline: none;
  border-radius: 3px;
}
input {
	border-radius:30px;
  width: 100%;
  height: 42px;
  background: #F9F0DA;
  padding-left: 15px;
}
button {
	border-radius:30px;
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #F15B42;
  cursor: pointer;
}
button:before {
  content: "\f105";
  font-family: FontAwesome;
  color: #F9F0DA;
  font-size: 20px;
  font-weight: bold;
}
h1{
	color:#FFAB40;
	margin-left:5px;
}
#header-logo{
	height:95%;
	width:98px;
	background-image: url(../img/logo.jpg);
	border-radius:50%;
	box-shadow: 0px 0px 100px 21px #ff8000;
}
.header-logo-txt{
	margin-left:100px;
}
.order-icon-txt, .contacts-icon-txt, .header-logo-txt, i, a{
	color: #212121;
	cursor:pointer;
}
main{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
    padding-top: 100px;
	box-sizing: border-box;
    margin:0; 
    background-color:#f3f3f3; 
    min-height: calc(100vh - 50px);
    width:100%; 
    overflow: auto;	
}
.conteiner-sm{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	height:100%;
}
.conteiner-sidebar{
	float:left;
	width:15%;
	min-height:100%;
}
.conteiner{
	box-sizing:border-box;
	width:100%;
	background-color: #FAFAFA;
}
.col-row1, .col-row2, .col-row3{
	flex:auto;
	margin-bottom:5px;
	margin-top:5px;
	box-sizing:border-box;
	width: 23.8%;
	opacity:0.91;
	border-radius:10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.1);
}
.col-row3{
	background-color: #FBE9E7;
}
.col-row2{
	background-color: #CFD8DC;
}
.col-row1{
	background-color: #E3F2FD;
}
#sidebar { 
	background-color: #E3F2FD;
	width: 100%; 
	float: left;
	height:auto;	
	border-radius:10px;
}
img{
	max-width:100%;
}
.panel1 p, .panel2 p, .panel3 p, .panel4 p, .panel5 p, .panel6 p{
	margin:0;
}
.panel1, .panel2, .panel3, .panel4, .panel5, .panel6{
	display:none;
	margin:0;
	height:30px;
}
#up{
	display:none;
}
p{
	font-family: 'Comfortaa', cursive;
	font-size:0.8em;
}
.conteiner-row{
	width:85%;
}
.row{
	background-image:url(../img/westcoast.jpg);
	display:flex;
	flex-wrap:wrap;
	width:100%;
}
p{
	font-style: italic;
}
.panel-title{
	border-bottom: 2px solid maroon;
}
.panel-body{
	width:100%;
	font-family: Geneva;
}
#ticked{
	display:flex;
}
.ticket-row, .ticket-row1, .ticket-row2, .ticket-row3, .ticket-row4, .ticket-row5, .ticket-row6{
	display:flex;
	justify-content:space-between;
	background-color:rgba(0, 0, 0, 0);
	box-sizing:border-box;
	cursor:auto;
	font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
	font-size:16px;
	height:auto;
	line-height:16px;
	text-decoration-color:rgb(183, 103, 41);
	text-decoration-line:none;
	text-decoration-style:solid;
	text-size-adjust:100%;
	width:auto;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0)

}
.buttons{
	display:flex;
	justify-content: space-between;
}
footer{
	display: flex;
	justify-content: space-between;
	background-color: #212121;
	color: #F5F5F5;
	font-size: 70%;
    height:50px;
    width:100%;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3), 0 -2px 4px rgba(0, 0, 0, 0.1);
	z-index:1000;
}
.topbutton {
	opacity:0.5;
	width:50px;
	border:2px solid #ccc;
	background:#f7f7f7;
	padding:10px;
	position:fixed;
	bottom:10px;
	right:10px;
	cursor:pointer;
	color:#333;
	font-size:10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}