html{
	 text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size:1.5em;
	color: #868585;
	background-color:#E0E0E0;
	font-weight:normal;
}
header{
	min-width:100%;
	top:0;
	z-index:1;
	bottom:0;
	height:35px;
	position:fixed;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.1);
}
main{
	min-height: calc(100vh-63px);
	margin-top:63px;
}
img{
	max-width:100%;
	height:auto;
}
.menu-head{
	background-color:#FF7043;
	border: 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.1);
}
.menu{
	background-color:#FFFFFF;
	border: 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.1);
}
.menu .container{
	position:relative;
}
.txt{
	font-weight: bold;
	font-style:oblique;
	color:#FFFFFF;
}
.navbar-brand{
	display:flex;
	padding-right:50px;
}
.brand{
	width:64px;
	height:38px;
	background-image: url(../img/logo.png);
}
.collapse .navbar-nav > li > a{
	font-weight: bold;
	font-style:oblique;
	color:#FFFFFF;
	text-transform:uppercase;
}
.navbar-nav > li.active-link > a{
	font-weight: bold;
	font-style:oblique;
	color:#FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
 .navbar-nav>li>a:hover{
	border-bottom: 1px solid #FFFFFF;
}
.card{
	background-color:#FFFFFF;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card a:hover img{
	border-radius:30px;
	transition:all.5s;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7), 0 2px 4px rgba(0, 0, 0, 0.1);
}
.glyphicon-search{
	line-height:50px;
	font-size:25px;
	position:absolute;
	right:25px;
	cursor:pointer;
	display:none;
}
.pager-nav{
	text-align:center;
}
.pagination>li>a, .pagination>li>span{
	color:#BBDEFB;
}
.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span{
	color:#FF8A65;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	color:#424242
}
.pagination a {
    border-radius: 5px;
	margin: 0 8px;
}

.pagination a.active {
    border-radius: 5px;
}
.h5, h5, p{
	padding-left:10px;
	font-family: cursive;
}
#buy{
	display:flex;
	justify-content:space-between;
	cursor:pointer;
	text-decoration:none;
}
p#price{
	overflow:hidden;
	margin-top:10px;
	margin-bottom:0px;
}
.left-sidebar{
	float:left;
	width:18%;
	min-height:100%;
}
li {
    list-style-type: none;
	padding-top:2px;
	
}
.menu{
	padding-bottom:10px;
	padding-left:10px;
}
.choice{
	display:flex;
	padding-left:5px;
	padding-top:10px;
}
.menu li a{
	color:#616161;
	 font-weight: bold;
	 font-style: italic;
	 text-transform: uppercase;
}
.menu li a:hover{
	color: #000000;
	text-decoration:none;
}
.fa{
	color:black;
}
i{
	padding-right:5px;
}
.menu img{
	padding-right:5px;
}
.content{
	max-width:80%;
	float:right;
}
footer{
	background-color: #212121;
	color: #F5F5F5;
    height:auto;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3), 0 -2px 4px rgba(0, 0, 0, 0.1);
}
.topbutton{
	position:fixed;
}
.pull-right{
	top: 530px;
    bottom: 0px;
    right: 200px;
}
.pull-left{
	margin-left:20px;
}
.car-el-head{
	width:93%;
	overflow:hidden;
}
.car-el{
	display:flex;
	justify-content:space-between;
}
.carousel-arrow-left i, .carousel-arrow-right i{
	margin-top:85px;
}
.carousel-arrow-left i:hover, .carousel-arrow-right i:hover{
	cursor:pointer;
}
.crousel-item{
	margin-right:10px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7), 0 2px 4px rgba(0, 0, 0, 0.1);
}
.carousel-arrow-left, .carousel-arrow-right {
    float: left;
}
.carousel{
	position:relative;
	padding-left:0px;
	padding-right:0px;
	display:-webkit-box;
	min-height:80%;
	min-width:100%;
}
.contacts{
	background-image: url(../img/fon.jpg);
	background-size: cover;
	min-width:100%;
	min-height: 100%;
}
p#contacns {
	padding-top: 40px;
	padding-bottom: 40px;
	color: lightgray;
    text-align: center;
    font-size: 1.5em;
    font-family: sans-serif;
    text-transform: uppercase;
}
iframe{
	border-radius: 10px;
}
.map{
	    max-width: 800px;
	    padding-left: 40px;
	    padding-bottom: 20px;
}
.contacts-contein {
    display: flex;
}
.contacts-txt{
	padding-top: 100px;
	padding-left: 40px;
}
.contacts-txt p{
	font-size: 1.6em;
}
p#time {
    width: fit-content;
    text-align: end;
}
.icon-bar a i{
	cursor: auto;
	font-size: 1em;
	color: #FFFFFF;
}
.copyright{
	width: 22%;
	padding-bottom: 5px;
}
.conteiner{
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-size: cover;
}
.footerTop{
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
}
.footerTop__linksColumn ul li a{
	color: #616161;
}
.footerTop__linksColumn h4{
	text-align: center;
}
.footerTop__linksColumn ul li a:hover{
	color: #FFFFFF;
	text-decoration:none;
}
@media only screen and (max-width : 1900px){
	li.dropdown{
		display:none;
	}
}
@media only screen and (max-width : 1200px){
	.card{
		min-height:253px;
	}
	
	li.dropdown{
		display:none;
	}
	iframe{
		max-width: 500px;
	}
}
@media only screen and (max-width : 992px){
	.card a img{
		min-width:100%;
	}
	.card{
		min-height:337px;
	}
	li.dropdown{
		display:block;
	}
	.left-sidebar{
	display:none;
	}
	.content{
		max-width:100%;
	}	
	.glyphicon{
		display:block;
	}
	.navbar-form{
		display:none;
	}
	iframe{
		max-width: 300px;
	}
}
@media only screen and (max-width : 768px){
	.glyphicon-search{
		display:none;
	}
	p#price {
    margin-bottom: 0px;
	}
	.navbar-form{
		display:block;
	}
	.price{
		max-height:70px;
	}
	#buy {
		flex-wrap: wrap;
		width: 150px;
	}
	#about{
		margin-top:15px;
	}
	p {
		font-family: monospace;
		font: caption;
		margin: 0 0 10px;
	}
	.card{
		min-height:auto;
		display:flex;
		margin-bottom:20px;
	}
	.content{
		max-width:100%;
	}
	.contacts-contein{
		display: block;
	}
	p#contacns{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	iframe{
		max-width: 400px;
	}
	.contacts-txt{
		padding-top: 10px;
	}
}
@media only screen and (max-width : 480px){
	#about{
		font-size:0.9em;
		margin-top:0px;
	}
	.car-el{
		display:none;
	}
	.pagination li a{
		margin-right:5px;
	}
	.pull-right{
		margin-right:0;
	}
	.copyright{
		font-size:0.8em;
		margin-left:0;
	}
	h5{
		margin-bottom:0;
		margin-top;0;
	}
	p#price{
		margin-top:2px;
	}
}