*{
    margin:0; 
    padding:0;
    margin-left:auto;
    margin-right:auto;
    width:1000px;
}
#header{
    background-color:#f8d70e;
    height:100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    top:0;
    position: fixed;
    
}
#main{
    background-color:aqua; 
    height:calc(100vh-100px-50px); 
    min-height:700px; 
    margin-top:100px; 
}
#footer{
    position: absolute;
    background-color:#144696; 
    height:50px;
    box-shadow:0 0 0 7px #60B88D,
   0 0 0 14px #90CDAF,
   0 0 0 21px #BFE3D1;
}
