<div class="content">
    <div class="row1" id="car">
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Accord, 2011</h5>
                        <p id="price">699 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/civic.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Civic, 2008</h5>
                        <p id="price">420 000 руб.</p>
                    </a>
                    <p id="about">129 000 км, 1.8 AT (140 л.с.), седан, передний, бензин</p>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/cr-v.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda CR-V, 2013</h5>
                        <p id="price">1 140 000 руб.</p>
                    </a>
                    <p id="about">44 200 км, 2.0 MT (150 л.с.), универсал, полный, бензин</p>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/pilot.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">179 000 км, 3.5 AT (257 л.с.), внедорожник, полный, бензин</p>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row2">
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/Lexus GS300, 2007.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Lexus GS300, 2007</h5>
                        <p id="price">699 999 руб.</p>
                    </a>
                    <p id="about">110 000 км, 3.0 литра (248 л.с.), автомат, задний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/LADA (ВАЗ) 2105, 1997.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>LADA (ВАЗ) 2105, 1997</h5>
                        <p id="price">98 000 руб.</p>
                    </a>
                    <p id="about">66 500 км, 1.5 MT (75 л.с.), седан, задний, бензин</p>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/peugeot 308, 2008.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Peugeot 308, 2008</h5>
                        <p id="price">300 000руб.</p>
                    </a>
                    <p id="about">1.6 л (120 л.с.), бензин, автомат, передний, 105 тыс. км</p>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/Chevrolet Lanos, 2008.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Chevrolet Lanos, 2008</h5>
                        <p id="price">150 000 руб.</p>
                    </a>
                    <p id="about">1.5 л (86 л.с.), бензин, механика, передний, 94 тыс. км</p>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/Land Rover Range Rover Sport, 2015.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Land Rover Range Rover Sport, 2015</h5>
                        <p id="price">3 260 000 руб.</p>
                    </a>
                    <p id="about">3.0 л (249 л.с.), дизель, автомат, 4WD, 82 тыс. км</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/Opel Astra, 2013.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Opel Astra, 2013</h5>
                        <p id="price">449 000 руб.</p>
                    </a>
                    <p id="about">1.8 л (140 л.с.), бензин, механика, передний, 47 тыс. км</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/Peugeot 308, 2010.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Peugeot 308, 2010</h5>
                        <p id="price">290 000 руб.</p>
                    </a>
                    <p id="about">1.6 л (120 л.с.), бензин, механика, передний, 63 тыс. км</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/Volkswagen Touareg, 2004.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Volkswagen Touareg, 2004</h5>
                        <p id="price">600 000 руб.</p>
                    </a>
                    <p id="about">3.2 л (220 л.с.), бензин, автомат, 4WD, 75 тыс. км</p>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/Dodge Grand Caravan, 2003.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Dodge Grand Caravan, 2003</h5>
                        <p id="price">380 000 руб.</p>
                    </a>
                    <p id="about">3.8 л (218 л.с.), бензин, автомат, передний, 185 тыс. км</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <a href="#"><img src="img/car/Лада 2113, 2012.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Лада 2113, 2012</h5>
                        <p id="price">167 000 руб.</p>
                    </a>
                    <p id="about">1.6 л (82 л.с.), бензин, механика, передний, 101 тыс. км</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/Quicksilver 340 Sport + tohatsu M 15D2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Quicksilver 340 Sport</h5>
                        <p id="price">390 000 руб.</p>
                    </a>
                    <p id="about">2008 год, длина 3,40 м., 15,00 л.с., бензин. </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <a href="#"><img src="img/Гидроцикл yamaha VX 700.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Гидроцикл yamaha VX 700</h5>
                        <p id="price">285 000 руб.</p>
                    </a>
                    <p id="about">Гидроцикл yamaha VX 700</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row3">
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Accord, 2011</h5>
                        <p id="price">699 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/civic.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Civic, 2008</h5>
                        <p id="price">420 000 руб.</p>
                    </a>
                    <p id="about">129 000 км, 1.8 AT (140 л.с.), седан, передний, бензин</p>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/cr-v.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda CR-V, 2013</h5>
                        <p id="price">1 140 000 руб.</p>
                    </a>
                    <p id="about">44 200 км, 2.0 MT (150 л.с.), универсал, полный, бензин</p>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/pilot.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">179 000 км, 3.5 AT (257 л.с.), внедорожник, полный, бензин</p>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row4">
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/Lexus GS300, 2007.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Lexus GS300, 2007</h5>
                        <p id="price">699 999 руб.</p>
                    </a>
                    <p id="about">110 000 км, 3.0 литра (248 л.с.), автомат, задний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/LADA (ВАЗ) 2105, 1997.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>LADA (ВАЗ) 2105, 1997</h5>
                        <p id="price">98 000 руб.</p>
                    </a>
                    <p id="about">66 500 км, 1.5 MT (75 л.с.), седан, задний, бензин</p>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/peugeot 308, 2008.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Peugeot 308, 2008</h5>
                        <p id="price">300 000руб.</p>
                    </a>
                    <p id="about">1.6 л (120 л.с.), бензин, автомат, передний, 105 тыс. км</p>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/Chevrolet Lanos, 2008.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Chevrolet Lanos, 2008</h5>
                        <p id="price">150 000 руб.</p>
                    </a>
                    <p id="about">1.5 л (86 л.с.), бензин, механика, передний, 94 тыс. км</p>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/Land Rover Range Rover Sport, 2015.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Land Rover Range Rover Sport, 2015</h5>
                        <p id="price">3 260 000 руб.</p>
                    </a>
                    <p id="about">3.0 л (249 л.с.), дизель, автомат, 4WD, 82 тыс. км</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/Opel Astra, 2013.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Opel Astra, 2013</h5>
                        <p id="price">449 000 руб.</p>
                    </a>
                    <p id="about">1.8 л (140 л.с.), бензин, механика, передний, 47 тыс. км</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/Peugeot 308, 2010.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Peugeot 308, 2010</h5>
                        <p id="price">290 000 руб.</p>
                    </a>
                    <p id="about">1.6 л (120 л.с.), бензин, механика, передний, 63 тыс. км</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/Volkswagen Touareg, 2004.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Volkswagen Touareg, 2004</h5>
                        <p id="price">600 000 руб.</p>
                    </a>
                    <p id="about">3.2 л (220 л.с.), бензин, автомат, 4WD, 75 тыс. км</p>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/Dodge Grand Caravan, 2003.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Dodge Grand Caravan, 2003</h5>
                        <p id="price">380 000 руб.</p>
                    </a>
                    <p id="about">3.8 л (218 л.с.), бензин, автомат, передний, 185 тыс. км</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <a href="#"><img src="img/car/Лада 2113, 2012.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Лада 2113, 2012</h5>
                        <p id="price">167 000 руб.</p>
                    </a>
                    <p id="about">1.6 л (82 л.с.), бензин, механика, передний, 101 тыс. км</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/Quicksilver 340 Sport + tohatsu M 15D2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Quicksilver 340 Sport</h5>
                        <p id="price">390 000 руб.</p>
                    </a>
                    <p id="about">2008 год, длина 3,40 м., 15,00 л.с., бензин. </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <a href="#"><img src="img/Гидроцикл yamaha VX 700.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Гидроцикл yamaha VX 700</h5>
                        <p id="price">285 000 руб.</p>
                    </a>
                    <p id="about">Гидроцикл yamaha VX 700</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row5">
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Accord, 2011</h5>
                        <p id="price">699 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/civic.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Civic, 2008</h5>
                        <p id="price">420 000 руб.</p>
                    </a>
                    <p id="about">129 000 км, 1.8 AT (140 л.с.), седан, передний, бензин</p>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/cr-v.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda CR-V, 2013</h5>
                        <p id="price">1 140 000 руб.</p>
                    </a>
                    <p id="about">44 200 км, 2.0 MT (150 л.с.), универсал, полный, бензин</p>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/pilot.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">179 000 км, 3.5 AT (257 л.с.), внедорожник, полный, бензин</p>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <a href="#"><img src="img/car/car2.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Honda Pilot, 2009</h5>
                        <p id="price">837 000 руб.</p>
                    </a>
                    <p id="about">76 000 км, 2.4 AT (200 л.с.), седан, передний, бензин</p>
                </div>
            </div>
        </div>
    </div>
    <div id="pager-nav">
        <nav class="pager-nav">
            <ul class="pagination">
                <li>
                    <a id="Previous" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a id="1" href="">1</a></li>
                <li><a id="2" href="">2</a></li>
                <li><a id="3" href="">3</a></li>
                <li><a id="4" href="">4</a></li>
                <li><a id="5" href="">5</a></li>
                <li>
                    <a id="Next" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>