<div class="contacts">
    <p id="contacts">Контакты</p>
    <div class="contacts-contein">
        <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d4486.634892672418!2d49.1553733!3d55.7877255!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x415ead7598337009%3A0x5b96b2df953ab4cb!2z0KjQstC10Lkg0KbQsNGA0YHRgtCy0L4sINGD0LsuINCU0L7RgdGC0L7QtdCy0YHQutC-0LPQviwgNjYsINCa0LDQt9Cw0L3RjCwg0KDQtdGB0L8uINCi0LDRgtCw0YDRgdGC0LDQvSwgNDIwMDk3!3m2!1d55.787323699999995!2d49.155586299999996!5e0!3m2!1sru!2sru!4v1501695987059"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="contacts-txt">
            <p>Наш саон находится по адресу: CarRow ул. Достоевского, 66, Казань, Респ. Татарстан, Россия, 420097</p>
            <br>
            <p>Наш контактный телефон: 82186321566</p>
            <br>
            <p id="time">Режим работы: Пн-Пт:9:00-20:00
                <br> Сб-Вс:выходной
            </p>
        </div>

    </div>
</div>