<div class="content">
    <h3 id="truck">Грузовые</h3>
    <div class="row" id="truck">
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/truck/truck1.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Lexus GS300, 2007</h5>
                        <p id="price">699 999 руб.</p>
                    </a>
                    <p id="about">110 000 км, 3.0 литра (248 л.с.), автомат, задний, бензин</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/truck/truck6.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>LADA (ВАЗ) 2105, 1997</h5>
                        <p id="price">98 000 руб.</p>
                    </a>
                    <p id="about">66 500 км, 1.5 MT (75 л.с.), седан, задний, бензин</p>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/truck/truck3.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Peugeot 308, 2008</h5>
                        <p id="price">300 000руб.</p>
                    </a>
                    <p id="about">1.6 л (120 л.с.), бензин, автомат, передний, 105 тыс. км</p>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/truck/truck4.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Chevrolet Lanos, 2008</h5>
                        <p id="price">150 000 руб.</p>
                    </a>
                    <p id="about">1.5 л (86 л.с.), бензин, механика, передний, 94 тыс. км</p>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/truck/truck5.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Land Rover Range Rover Sport, 2015</h5>
                        <p id="price">3 260 000 руб.</p>
                    </a>
                    <p id="about">3.0 л (249 л.с.), дизель, автомат, 4WD, 82 тыс. км</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/truck/truck6.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Opel Astra, 2013</h5>
                        <p id="price">449 000 руб.</p>
                    </a>
                    <p id="about">1.8 л (140 л.с.), бензин, механика, передний, 47 тыс. км</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/truck/truck7.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Peugeot 308, 2010</h5>
                        <p id="price">290 000 руб.</p>
                    </a>
                    <p id="about">1.6 л (120 л.с.), бензин, механика, передний, 63 тыс. км</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/truck/truck8.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Volkswagen Touareg, 2004</h5>
                        <p id="price">600 000 руб.</p>
                    </a>
                    <p id="about">3.2 л (220 л.с.), бензин, автомат, 4WD, 75 тыс. км</p>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/truck/truck9.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Dodge Grand Caravan, 2003</h5>
                        <p id="price">380 000 руб.</p>
                    </a>
                    <p id="about">3.8 л (218 л.с.), бензин, 185 тыс. км</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <a href="#"><img src="img/truck/truck10.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Лада 2113, 2012</h5>
                        <p id="price">167 000 руб.</p>
                    </a>
                    <p id="about">1.6 л (82 л.с.), бензин, механика, передний, 101 тыс. км</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 xs-12">
            <div class="card">
                <a href="#"><img src="img/truck/truck1.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Quicksilver 340 Sport + tohatsu M 15D21</h5>
                        <p id="price">90 000 руб.</p>
                    </a>
                    <p id="about">2008 год, длина 3,40 м., 15,00 л.с., бензин. </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <a href="#"><img src="img/truck/truck5.jpg"></a>
                <div class="price">
                    <a id="buy">
                        <h5>Гидроцикл yamaha VX 700</h5>
                        <p id="price">285 000 руб.</p>
                    </a>
                    <p id="about">Гидроцикл yamaha VX 700</p>
                </div>
            </div>
        </div>
    </div>
</div>