<div class="container">
    <div class="footerTop">
        <div class="footerTop__linksColumn">
            <h4>Компания</h4>
            <ul class="bottom-nav">
                <li><a href="#">О нас</a></li>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Контакты и поддержка</a></li>
                <li><a href="#">История развития</a></li>
            </ul>
        </div>
        <div class="footerTop__linksColumn">
            <h4>Компания</h4>
            <ul class="bottom-nav">
                <li><a href="#">О нас</a></li>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Контакты и поддержка</a></li>
                <li><a href="#">История развития</a></li>
            </ul>
        </div>
        <div class="footerTop__linksColumn">
            <h4>Компания</h4>
            <ul class="bottom-nav">
                <li><a href="#">О нас</a></li>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Контакты и поддержка</a></li>
                <li><a href="#">История развития</a></li>
            </ul>
        </div>
        <div class="footerTop__linksColumn">
            <h4>Компания</h4>
            <ul class="bottom-nav">
                <li><a href="#">О нас</a></li>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Контакты и поддержка</a></li>
                <li><a href="#">История развития</a></li>
            </ul>
        </div>
    </div>
    <div class="conteiner">
        <div class="copyright">Copyright Алексей Ермолаев 2017</div>
        <div class="icon-bar">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <a class="pull-right" href="#anchor" title="Вернуться к началу" id="topbutton"><img src="img/41.png">
        </a>
    </div>
</div>