<div class="left-sidebar">
    <ul class="menu">
        <li><a href="#">Категории </a></li>
        <li class="choice"><a href="#motorcycle"><i class="fa fa-motorcycle" ></i>Мотоциклы</a>
            <p>98</p>
        </li>
        <li class="choice"><a href="#"><i class="fa fa-car"></i>Легковые</a>
            <p>543</p>
        </li>
        <li class="choice"><a href="#truck"><i class="fa fa-truck"></i>Грузовые</a>
            <p>102</p>
        </li>
        <li class="choice">
            <a href="#all-terrain-vehicle"><img src="img/квадроцикл.jpg">Квадроциклы</a>
            <p>25</p>
        </li>
        <li class="choice">
            <a href="#yacht"><img src="img/яхта.jpg">Водная техника</a>
            <p>32</p>
        </li>
    </ul>
</div>